/*#region Main colors*/

$orange: #f18805;
$blue: #3366cc; /*rgba(51, 102, 204, 1)*/
$white: #ffffff;
$lightGray: #dddddd;
$dark: #666666;
$darkBlue: #364652; /*rgba(54, 70, 82, 1)*/
$translucent: rgba(0, 0, 0, 0.2);

/*#endregion*/

/*#region Sizing*/

$headerHeight: 40px;
$footerHeight: 40px;

$asideWidth: 100px;

$inputPaddingHorizontal: 8px;
$inputPaddingVertical: 4px;

$inputBorderRadius: 0px;

$borderWidthThick: 3px;

/*#endregion*/

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/Open Sans/OpenSans-Regular.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('/fonts/Open Sans/OpenSans-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
    /* font-display: block; */
}

@keyframes expand-height {
    from {
        height: 0;
    }
}

@keyframes caret {
    50% {
        border-color: transparent;
    }
}

html,
body {
    min-height: 100vh;
}

body {
    text-align: center;
    background-color: $darkBlue;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media screen and (max-width: 900px) {
    body {
        font-size: 14px;
        line-height: 23px;
        -webkit-text-size-adjust: none;
    }
}

@media screen and (max-width: 620px) {
    body {
        font-size: 12px;
        line-height: 20px;
    }
}

@media screen and (max-width: 480px) {
    body {
        font-size: 11px;
        line-height: 18px;
    }
}

main {
    position: relative;
}

body.with-header main,
body.with-header aside {
    min-height: calc(100vh - #{$headerHeight} - #{$borderWidthThick} - #{$footerHeight});
}

body:not(.with-header) main,
body:not(.with-header) aside {
    min-height: calc(100vh - #{$footerHeight});
}

body.with-aside main {
    width: calc(100% - #{$asideWidth});
}

body:not(.with-aside) main {
    width: 100%;
}

aside {
    width: $asideWidth;
}

h2 {
    line-height: 32px;
}

a {
    text-decoration: none;
}

input,
button {
    padding: $inputPaddingVertical $inputPaddingHorizontal;
    border-radius: $inputBorderRadius;
    border: 0 solid $dark;
    background-color: $translucent;
    color: $white;
    caret-color: $white;
    position: relative;
}

input:focus,
button:focus {
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
}

svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

button svg {
    height: 80%;
    width:auto;
    fill: $darkBlue;
}

path {
    transition: fill 200ms ease-out;
}

button.enabled svg .main {
    fill: $orange;
}

button.enabled:hover svg .main {
    fill: $blue;
}

input[type="button"] {
    font-weight: 600;
}

header {
    width: 100%;
    height: $headerHeight;
    line-height: $headerHeight;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    border-bottom: $borderWidthThick solid $translucent;
}

footer {
    width: 100%;
    height: $footerHeight;
    line-height: $footerHeight;
    text-align: center;
    font-size: 12px;
    color: $dark;
    display: flex;
    flex-wrap: wrap;
}

footer a {
    color: $dark;
    transition: color 100ms ease-out;
}

footer a:hover {
    color: $orange;
}

footer p {
    white-space: nowrap;
    padding: 0 10px;
}

.upper {
    text-transform: uppercase;
}

.flexbox {
    display: flex;
}

.flexbox-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flexbox-left {
    display: flex;
    justify-content: flex-start;
}

.flex-1 {
    flex: 1;
    margin: auto;
}

.flexbox-vertical {
    display: flex;
    flex-direction: column;
}

.below-1200w {
    display: none;
}

@media screen and (max-width: 1200px) {
    .below-1200w {
        display: inline;
    }
}

.nowrap {
    white-space: nowrap;
}

.color-white {
    color: $white;
}

.color-bright {
    color: $orange;
}

.text-center {
    text-align: center;
}

.hov-highlight {
    transition: filter 200ms ease-in-out;
}

.hov-highlight:hover {
    filter: brightness(130%);
}

.typing {
    border-right: 2px solid $white;
    /*-webkit-animation: caret 1s steps(1) infinite;*/
    animation: caret 1s steps(1) infinite;
    padding-right: 2px;
}

.animation-paused {
    animation-play-state: paused;
}

.fade-out {
    transition: opacity 800ms ease-in-out;
    opacity: 0;
}

.hidden {
    visibility: hidden;
}

.container-40vw-20vw {
    position: relative;
    width: 40vw;
    height: 24vw;
}

.chart-container-normal {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 50vw;
    height: 25vw;
}

@media screen and (max-width: 1200px) {
    .chart-container-normal {
        width: 70vw;
        height: 35vw;
    }
}

@media screen and (max-width: 620px) {
    .chart-container-normal {
        width: 90vw;
        height: 45vw;
    }
}

.animate-expand {
    animation-name: expand-height;
    animation-duration: 400ms;
}

input[type=text]::-ms-clear {
    display: none;
}

/*#region suggestion-box*/
.suggestion-box {
    text-align: left;
    display: flex;
    justify-content: flex-start;
}

.suggestion-box > div {
    position: relative;
    width: 160px;
}

.suggestion-box input {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - #{$inputPaddingHorizontal} * 2);
    height: calc(100% - #{$inputPaddingVertical} * 2);
    background-color: transparent;
}

.suggestion-box input[disabled="disabled"] {
    z-index: -1;
    color: rgba(255, 255, 255, 0.5);
    background-color: $translucent;
}

.suggestion-box ul {
    position: absolute;
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
    top: 100%;
    left: 0;
    width: 200px;
    line-height: 20px;
    color: #ddd;
    background-color: $translucent;
    border-radius: 0 0 $inputBorderRadius $inputBorderRadius;
}

.suggestion-box li {
    display: inline-block;
    width: calc(100% - #{$inputPaddingHorizontal} * 2);
    font-size: 0.8em;
    padding: 0 $inputPaddingHorizontal;
}

.suggestion-box:not(.focus) li,
.suggestion-box li:not(.show) {
    display: none;
}

.suggestion-box li.pre-selected,
.suggestion-box li:hover {
    font-weight: 800;
}

/*#endregion*/
