/*
    ## Main colors
       Orange:      #f18805
       Blue:        #3366cc
       White:       #ffffff
       Dark:        #666666
       Translucent: rgba(0, 0, 0, 0.1)
*/


@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/Open Sans/OpenSans-Regular.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('/fonts/Open Sans/OpenSans-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
    /* font-display: block; */
}

@keyframes expand-height {
    from {
        height: 0;
    }
}

@keyframes caret {
    50% {
        border-color: transparent;
    }
}

html {
    min-height: 100%;
}

body {
    min-height: 100%;
    background-color: #364652;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    margin: 0;
}

@media screen and (max-width: 900px) {
    body {
        font-size: 14px;
        line-height: 23px;
    }
}

@media screen and (max-width: 600px) {
    body {
        font-size: 12px;
        line-height: 20px;
    }
}

h2 {
    line-height: 32px;
}

a {
    text-decoration: none;
}

.b-center-v {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.b-center-h {
    margin: 0 auto;
}

.b-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.below-1200w {
    display: none;
}

@media screen and (max-width: 1200px) {
    .below-1200w {
        display: inline;
    }
}

.nowrap {
    white-space: nowrap;
}

.color-white {
    color: #fff;
}

.color-bright {
    color: #f18805;
}

.text-center {
    text-align: center;
}

.hov-highlight {
    transition: filter 200ms ease-in-out;
}

    .hov-highlight:hover {
        filter: brightness(130%);
    }

.typing {
    border-right: 2px solid #fff;
    /*-webkit-animation: caret 1s steps(1) infinite;*/
    animation: caret 1s steps(1) infinite;
    padding-right: 4px;
}

.animation-paused {
    animation-play-state: paused;
}

#chart-container {
    position: relative;
    height: 30vw;
    width: 60vw;
    animation-name: expand-height;
    animation-duration: 400ms;
}

@media screen and (max-width: 500px) {
    #chart-container {
        width: calc(100vw - 30px);
        height: calc(60vw - 20px);
    }
}
