@page
@model kpi.Pages.IndexModel
@{
    ViewData["Title"] = "KPI.app";
    Layout = "_Layout";
}

<div id="chart-container" class="animation-paused">
    <canvas id="kpi-chart"></canvas>
</div>
<h2 class="color-white text-center nowrap">You could soon have your KPI Dashboard<br class="below-1200w" /> here at <a id="kpi-yourcompany" class="color-bright hov-highlight" href="#"><span class="typing">yourcompany</span>.kpi.app</a>!</h2>

