@page
@model kpi.Pages.IndexModel
@{
    ViewData["Title"] = "KPI.app";
    Layout = "_Layout";
}

<h2 class="color-white text-center">You could soon have your KPI Dashboard here at <strong class="color-bright">yourcompany.kpi.app</strong>!</h2>

