@page
@model kpi.Pages.SamplesModel
@{
    ViewData["Title"] = "Samples";
    Layout = "_Layout";
}
@section Footer {
    <p class="flex-1"><a href="/">KPI.app</a></p>
    <p class="flex-1">© @DateTime.Today.Year Leevi Uotinen. All Rights Reserved</p>
}

<h2 class="color-white">Samples coming soon</h2>

