@page
@model kpi.Pages.Samples.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}
@section Footer {
    <p class="flex-1"><a href="/">KPI.app</a></p>
    <p class="flex-1">© @DateTime.Today.Year Leevi Uotinen. All Rights Reserved</p>
}

<h2><a class="color-bright" href="/Samples/Stocks">Stocks</a></h2>

