@page
@model kpi.Pages.Samples.StocksModel
@{
    ViewData["Title"] = "Stocks";
    Layout = "_Layout";
}
@section Header  {
    <vc:suggestion-box dataset-attribute="ticker" placeholder="TICKER SYMBOL" />
}
@section Aside {

}
@section Footer {
    <p class="flex-1"><a href="/">KPI.app</a></p>
    <p class="flex-1"><a href="/Samples">Samples</a></p>
    <p class="flex-1">© @DateTime.Today.Year Leevi Uotinen. All Rights Reserved</p>
}
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
    <script src="~/lib/signalr.js"></script>
    <script src="~/js/Stocks.js"></script>
}
    <div id="chart-grid" class="flexbox-vertical"></div>
